# Python Basics - Data Types

### String

In [36]:
greeting = 'Hello World'
spanish_greeting = 'Hola!'
chinese_greeting = 'Ni hao!'

In [38]:
print("Gina said", greeting)
print("Marta said", spanish_greeting)
print("Maggie said", chinese_greeting)

Gina said Hello World
Marta said Hola!
Maggie said Ni hao!

### Numbers

In [25]:
numbers = 100 + 10 
one = '1'
print(numbers, one)

110 1

### Arrays

In [26]:
fruits = ['apple', 'orange', 'banana']
print(fruits[1])

orange

In [27]:
print(len(fruits))

3

### Object

In [43]:
customer1 = {'Name': 'Gina', 'Age': 28, 'TotalPurchase': 3000}
customer2 = {'Name': 'Marta', 'Age': 19, 'TotalPurchase':10}
print(customer1)
print(customer2)

{'Name': 'Gina', 'Age': 28, 'TotalPurchase': 3000}
{'Name': 'Marta', 'Age': 19, 'TotalPurchase': 10}

In [32]:
print(customer1['Name'])

Gina

In [39]:
print(customer1['Name'], 'spent £',customer1['TotalPurchase'])

Gina spent £ 3000

### Boolean

In [12]:
print (1 == 1)

True

In [13]:
print (1==2)

False

In [46]:
if customer1['Age']>20 :
    print('Old enough!')
else:
    print('You are underage!')

Old enough!

In [47]:
if customer2['Age']>20 :
    print('Old enough!')
else:
    print('You are underage!')

You are underage!

## Tuple 

### tuples are immutable, cannot change orders of elements or values stored.

In [1]:
my_info = ('Gina', 29, 'Data Scientist')

In [4]:
my_info[1] = 30

# This cell results in TypeError: 'tuple' object does not support item assignment.

TypeError: 'tuple' object does not support item assignment

#### We cannot change elements in Tuples, unlike lists.

In [5]:
name, age, occupation = my_info

# Unpacking a Tuple

In [6]:
print(name)

Gina

In [7]:
print(age)

29

In [8]:
print(occupation)

Data Scientist

#### Creating one element tuple.

In [11]:
one_element_tuple = (4)
print(one_element_tuple)

# This just becomes a variable - in python, brackets are used for maths calcs, in this case it's considered as one of those.

4

In [13]:
one_element_tuple2 = (4, )
print(one_element_tuple2)
# with a trailing comma, this is actually a tuple.

(4,)