## Python Modules

**모듈(Module)이란?**: 파이썬 함수나 변수, 클래스들을 모아놓은 파일. 표준모듈과 외부모듈로 나뉨. 

- 표준 모듈 Standard Library: <br>
파이썬에 기본적으로 내장되어 있는 모듈.<br>
예: math, datetime, random, tkinter 등.<br>
각 모듈들에 대한 정보는 [파이썬 공식 홈페이지](docs.python.org/3/librar) 에서 확인 가능.<br>
<br>
- 외부 모듈 3rd party Library: <br>
파이썬 이용자들이 만들어서 공유한 모듈. <br>
예: numpy, scipy, pandas 등. <br>


#### 불러오는 방법

- 모듈 전체를 불러오고 싶을때: <br>
import *modulename*<br>
예: import datetime<br>
    
    
- 어떤 모듈의 특정 클래스만 사용하고 싶을때: <br>
from *modulename* import *classname* <br>
예: from datetime import time<br>


#### 사용하는 방법

- *modulename.classname* <br>
예: math.pi

#### 모듈에 포함된 클래스 확인하기
- dir(*modulename*)

### Math 모듈 써보기!

In [4]:
#math 모듈을 불러오기 전 

math.pi

NameError: name 'math' is not defined

In [5]:
import math 

math.pi

3.141592653589793

In [7]:
from math import pi

In [8]:
pi

3.141592653589793

In [10]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

### Pandas, Numpy 설치하기!

- [Numpy Docs](https://numpy.org/doc/stable/user/absolute_beginners.html)

- [Pandas Docs](https://pandas.pydata.org/docs/)


**설치방법**

아나콘다:
- conda install numpy
- conda install pandas

기타 프로그램:
- pip install numpy
- pip install pandas

In [12]:
#이제 판다랑 넘파이를 불러와주세요.

import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame([
    ['John Smith','123 Main St',34],
    ['Jane Doe', '456 Maple Ave',28],
    ['Joe Schmo', '789 Broadway',51]
    ],
    columns=['name','address','age'])

         name        address  age
0  John Smith    123 Main St   34
1    Jane Doe  456 Maple Ave   28
2   Joe Schmo   789 Broadway   51

In [16]:
df

         name        address  age
0  John Smith    123 Main St   34
1    Jane Doe  456 Maple Ave   28
2   Joe Schmo   789 Broadway   51

In [15]:
df.set_index('name')

                  address  age
name
John Smith    123 Main St   34
Jane Doe    456 Maple Ave   28
Joe Schmo    789 Broadway   51