In [1]:
from datetime import datetime

In [5]:
birthday = datetime(1994, 2, 15, 4, 25, 12)

In [6]:
birthday.year

1994

In [7]:
birthday.day

15

In [8]:
birthday.hour

4

In [13]:
birthday.weekday() # 0 = Monday, 1 = Tuesday, 3 = Wednesday

1

In [14]:
datetime.now()

datetime.datetime(2021, 2, 2, 20, 36, 13, 364082)

In [15]:
datetime.now()

datetime.datetime(2021, 2, 2, 20, 36, 34, 411510)

In [16]:
datetime.now()

datetime.datetime(2021, 2, 2, 20, 36, 36, 594815)

In [19]:
datetime(1991, 12, 16, 12, 30) - datetime.now()

datetime.timedelta(days=-10642, seconds=57043, microseconds=323877)

In [20]:
datetime.now() - birthday # only subtract possible.

datetime.timedelta(days=9849, seconds=58464, microseconds=64044)

In [22]:
parsed_date = datetime.strptime('Jan 15, 2018', '%b %d, %Y')

In [23]:
print(parsed_date.month)

1

In [24]:
parsed_date = datetime.strptime('Jul 04, 2018', '%b %d, %Y')

In [25]:
print(parsed_date.month)

7

## strftime

In [26]:
date_string = datetime.strftime(datetime.now(), '%b %d, %Y')

In [27]:
print(date_string)

Feb 02, 2021